body {
  background: #f8f8fa;
  color: #352c60;
}

.btn-primary {
  background: #f5a623 !important;
  border-color: #f5a623 !important;
}

.btn {
  border-radius: 20px !important;
  padding-right: 30px;
  padding-left: 30px;
}

input {
  border-radius: 20px !important;
}

.center-element {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: #ffffff;
}