html,
body {
  height: 100%;
  color: #352c60 !important;
  background: #f8f8fa !important;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.bg-runa {
  background: #7a6ff0 !important;
}

.navbar-runa {
  a {
    color: #ffff !important;
  }

  a:hover {
    color: #ffff !important;
  }
}

.btn {
  border-radius: 20px !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.btn-primary {
  background: #f5a623 !important;
  border-color: #f5a623 !important;
}

.btn-secundary {
  background: #50e3c1 !important;
  border-color: #50e3c1 !important;
  color: #ffff !important;
}

.btn-back {
  background: none !important;
  border-color: #352c60 !important;
  color: #352c60 !important;
}

.navbar-collapse {
  position: absolute;
  right: 30px;
}

.dropdown-menu {
  a {
    color: black !important;
  }

  a:hover {
    color: black !important;
  }
}

.errors {
  color: #ff4483 !important;
}

.jumbotron {
  padding: 8rem 2rem !important;
}

.main-container {
  position: relative;
  top: -13rem;
}

.table {
  text-align: center;
}

.table-label {
  border-radius: 20px !important;
  padding: .4rem;
  font-weight: 100;
}

.check-in {
  background: #00e1c9;
  color: #ffffff;
}

.check-out {
  background: #ff4483;
  color: #ffffff;
}

.link-primary,
.link-primary:hover {
  color: #352c60;
}

.action-secundary,
.action-secundary:hover {
  font-size: 1.3rem;
  color: #00e1c9;
  margin-right: 10px;
}

.action-danger,
.action-danger:hover {
  font-size: 1.3rem;
  color: #ff4483;
  margin-right: 10px;
}

